<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Calorie Management App</title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
	</head>
	
	<body style="background: url("images/healthyFoodImage.jpg")" ng-app="ionic-assignment" ng-controller="countCtrl">

		<ion-nav-view>
		</ion-nav-view>

		<!-- Menu Page Section -->
		<script type="text/ng-template" id="menuState.html">
			<ion-view view-title="Home">
				<ion-content>
					<ion-header-bar style="font-size: 40" class="bar-stable">
						<h1 class="title">Calorie Management App</h1>
					</ion-header-bar>
					</br></br></br></br>
					<h4 style="text-align: center">Enter your Name and Gender</h4>
					</br>
					<div class="list list-inset">
						<label class="item item-input">
							<input type="text" placeholder="First Name">
						</label>
						<label class="item item-input">
							<input type="text" placeholder="Last Name">
						</label>
					</div>
					<br/>
					<div class="list">
						<label class="item item-input item-select">
							<div class="input-label">Gender</div>
							<select>
								<option>Male</option>
								<option>Female</option>
							</select>
						</label>
					</div>
					<button ui-sref="listState" class="button button-block button-positive">Start</button>
				</ion-content>
			</ion-view>
		</script>
		
		<!-- List Page Section -->
		<script type="text/ng-template" id="listState.html">
			<ion-view view-title="Food List">
				<ion-content>
					<h2 style="text-align: center">Daily Calories</h2>	
					<p style="text-align: center">Please Add up your totals</p>
					
						<!-- Fish -->
						<div class="list">
							<a class="item item-thumbnail-center">
								<img src="images/fish.png">
								<h1>Fish</h1>
							</a>
						</div>
						<ul class="list">
							<li class="item">Cod (Per Piece)
								<br/>
								<button ng-click="countCod = countCod + 1; countCodCals = countCodCals + 82">+</button>
								<button ng-click="countCod = countCod - 1; countCodCals = countCodCals - 82">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countCod" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countCodCals" />
								</label>
							<li>
							<li class="item">Salmon(Per Piece)
								<br/>
								<button ng-click="countSalmon = countSalmon + 1; countSalmonCals = countSalmonCals + 208">+</button>
								<button ng-click="countSalmon = countSalmon - 1; countSalmonCals = countSalmonCals - 208">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countSalmon" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countSalmonCals"/>
								</label>
							<li>
							<li class="item">Plaice (Per Piece)
								<br/>
								<button ng-click="countPlaice = countPlaice + 1; countPlaiceCals = countPlaiceCals + 149">+</button>
								<button ng-click="countPlaice = countPlaice - 1; countPlaiceCals = countPlaiceCals - 149">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countPlaice" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countPlaiceCals"/>
								</label>
							<li>
						</ul>
						<!-- End Fish -->
						
						<!-- Meat -->
						<div class="list">
							<a class="item item-thumbnail-center">
								<img src="images/meat.png">
								<h1>Meat</h1>
							</a>
						</div>
						<ul class="list">
							<li class="item">Lamb (Per Piece)
								<br/>
								<button ng-click="countLamb = countLamb + 1; countLambCals = countLambCals + 249">+</button>
								<button ng-click="countLamb = countLamb - 1; countLambCals = countLambCals - 249">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countLamb" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countLambCals"/>
								</label>
							<li>
							<li class="item">Sirloin Steak(Per Piece)
								<br/>
								<button ng-click="countSteak = countSteak + 1; countSteakCals = countSteakCals + 277">+</button>
								<button ng-click="countSteak = countSteak - 1; countSteakCals = countSteakCals - 277">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countSteak" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countSteakCals"/>
								</label>
							<li>
							<li class="item">Sausages(Single)
								<br/>
								<button ng-click="countSausages = countSausages + 1; countSausagesCals = countSausagesCals + 301">+</button>
								<button ng-click="countSausages = countSausages - 1; countSausagesCals = countSausagesCals - 301">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countSausages" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countSausagesCals"/>
								</label>
							<li>
						</ul>
						<!-- End Meat -->
						
						
						<!-- Poultry -->
						<div class="list">
							<a class="item item-thumbnail-center">
								<img src="images/poultry.png">
								<h1>Poultry</h1>
							</a>
						</div>
						<ul class="list">
							<li class="item">Chicken Breast
								<br/>
								<button ng-click="countchicken = countchicken + 1; countchickenCals = countchickenCals + 172">+</button>
								<button ng-click="countchicken = countchicken - 1; countchickenCals = countchickenCals - 172">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countchicken" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countchickenCals"/>
								</label>
							<li>
							<li class="item">Duck Breast
								<br/>
								<button ng-click="countDuck = countDuck + 1; countDuckCals = countDuckCals + 102">+</button>
								<button ng-click="countDuck = countDuck - 1; countDuckCals = countDuckCals - 102">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countDuck" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countDuckCals"/>
								</label>
							<li>
							<li class="item">Turkey Breast
								<br/>
								<button ng-click="countTurkey = countTurkey + 1; countTurkeyCals = countTurkeyCals + 189">+</button>
								<button ng-click="countTurkey = countTurkey - 1; countTurkeyCals = countTurkeyCals - 189">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countTurkey" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countTurkeyCals"/>
								</label>
							<li>
						</ul>
						<!-- End Poultry -->
						
							
						<!-- Fruit & Veg -->
						<div class="list">
							<a class="item item-thumbnail-center">
								<img src="images/fruitAndVeg.png">
								<h1>Fruit & Veg</h1>
							</a>
						</div>
						<ul class="list">
							<li class="item">Apple
								<br/>
								<button ng-click="countApple = countApple + 1; countAppleCals = countAppleCals + 52">+</button>
								<button ng-click="countApple = countApple - 1; countAppleCals = countAppleCals - 52">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countApple" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countAppleCals"/>
								</label>
							<li>
							<li class="item">Orange
								<br/>
								<button ng-click="countOrange = countOrange + 1; countOrangeCals = countOrangeCals + 47">+</button>
								<button ng-click="countOrange = countOrange - 1; countOrangeCals = countOrangeCals - 47">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countOrange" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countOrangeCals"/>
								</label>
							<li>
							<li class="item">Banana
								<br/>
								<button ng-click="countBanana = countBanana + 1; countBananaCals = countBananaCals + 89">+</button>
								<button ng-click="countBanana = countBanana - 1; countBananaCals = countBananaCals - 89">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countBanana" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countBananaCals"/>
								</label>
							<li>
							<li class="item">Carrot
								<br/>
								<button ng-click="countCarrot = countCarrot + 1; countCarrotCals = countCarrotCals + 41">+</button>
								<button ng-click="countCarrot = countCarrot - 1; countCarrotCals = countCarrotCals - 41">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countCarrot" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countCarrotCals"/>
								</label>
							<li>
							<li class="item">Parsnip
								<br/>
								<button ng-click="countParnsip = countParnsip + 1; countParnsipCals = countParnsipCals + 75">+</button>
								<button ng-click="countParnsip = countParnsip - 1; countParnsipCals = countParnsipCals - 75">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countParnsip" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countParnsipCals"/>
								</label>
							<li>
							<li class="item">Celery (Stick)
								<br/>
								<button ng-click="countCelery = countCelery + 1; countCeleryCals = countCeleryCals + 16">+</button>
								<button ng-click="countCelery = countCelery - 1; countCeleryCals = countCeleryCals - 16">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countCelery" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countCeleryCals"/>
								</label>
							<li>
						</ul>
						<!-- End Fruit & Veg -->
						
						<!-- Potatoes, Pasta etc -->
						<div class="list">
							<a class="item item-thumbnail-center">
								<img src="images/carbs.png">
								<h1>Carbohydrates</h1>
							</a>
						</div>
						<ul class="list">
							<li class="item">Brown Rice(Per 100g)
								<br/>
								<button ng-click="countBrownRice = countBrownRice + 1; countBrownRiceCals = countBrownRiceCals + 111">+</button>
								<button ng-click="countBrownRice = countBrownRice - 1; countBrownRiceCals = countBrownRiceCals - 111">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countBrownRice" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countBrownRiceCals"/>
								</label>
							<li>
							<li class="item">White Rice(Per 100g)
								<br/>
								<button ng-click="countWhiteRice = countWhiteRice + 1; countWhiteRiceCals = countWhiteRiceCals + 130">+</button>
								<button ng-click="countWhiteRice = countWhiteRice - 1; countWhiteRiceCals = countWhiteRiceCals - 130">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countWhiteRice" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countWhiteRiceCals"/>
								</label>
							<li>
							<li class="item">White Pasta(Per 100g)
								<br/>
								<button ng-click="countWhitePasta = countWhitePasta + 1; countWhitePastaCals = countWhitePastaCals + 158">+</button>
								<button ng-click="countWhitePasta = countWhitePasta - 1; countWhitePastaCals = countWhitePastaCals - 158">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countWhitePasta" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countWhitePastaCals"/>
								</label>
							<li>
							<li class="item">Brown Pasta(Per 100g)
								<br/>
								<button ng-click="countBrownPasta = countBrownPasta + 1; countBrownPastaCals = countBrownPastaCals + 124">+</button>
								<button ng-click="countBrownPasta = countBrownPasta - 1; countBrownPastaCals = countBrownPastaCals - 124">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countBrownPasta" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countBrownPastaCals"/>
								</label>
							<li>
							<li class="item">Potatoes
								<br/>
								<button ng-click="countPotatoes = countPotatoes + 1; countPotatoesCals = countPotatoesCals + 77">+</button>
								<button ng-click="countPotatoes = countPotatoes - 1; countPotatoesCals = countPotatoesCals - 77">-</button>
								<input style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countPotatoes" />
								<label>Calorie Total per Item:	
									<input placeholder ="0" style="border: solid blue 1px; width: 50px; text-align: right" type="number" ng-model="countPotatoesCals"/>
								</label>
							<li>
						</ul>
						<!-- End Potatoes, Rice etc -->
						
						<h3 style="text-align: center">Today's Calorie Count</h3>
							<h4 style="text-align: center; border: solid blue 5px; border-radius: 50px">
								{{countCodCals + countSalmonCals + countPlaiceCals + countLambCals + countSteakCals + countSausagesCals +     countAppleCals + countOrangeCals + countBananaCals + countCarrotCals + countParnsipCals + countCeleryCals + countchickenCals + countDuckCals + countTurkeyCals + countBrownRiceCals + countWhiteRiceCals + countWhitePastaCals + countBrownPastaCals + countPotatoesCals}}
							</h4>
						<br/>
					<a ui-sref="menuState" class="button icon icon-left ion-chevron-left">Back</a>
					<a ui-sref="summaryState" style="float:right" class="button icon icon-right ion-chevron-right">Summary</a>
				</ion-content>
			</ion-view>
		</script>
			
		<!-- Summary Page -->	
		<script type="text/ng-template" id="summaryState.html">
			<ion-view view-title="Summary Page">
				<ion-content>
					<h1 style="text-align: center">Calorie Summary</h1>
					{{ countCodCals + countSalmonCals + countPlaiceCals + countLambCals }}
						<h4 style="text-align: center; border: solid blue 5px; border-radius: 50px">
							{{ countCodCals + countSalmonCals + countPlaiceCals + countLambCals }}
						</h4>
					<a ui-sref="menuState" class="button icon ion-home">Home</a>
				</ion-content>
			</ion-view>
		</script>
		<!-- End Summary Page -->	
		
	</body>
</html>